.user-avatar_tier1_01 {
  background-image: url("/static/images/avatars/avatar_tier1_01.png") !important;
}
.user-avatar_tier1_02 {
  background-image: url("/static/images/avatars/avatar_tier1_02.png") !important;
}
.user-avatar_tier1_03 {
  background-image: url("/static/images/avatars/avatar_tier1_03.png") !important;
}
.user-avatar_tier1_04 {
  background-image: url("/static/images/avatars/avatar_tier1_04.png") !important;
}
.user-avatar_tier1_05 {
  background-image: url("/static/images/avatars/avatar_tier1_05.png") !important;
}
.user-avatar_tier1_06 {
  background-image: url("/static/images/avatars/avatar_tier1_06.png") !important;
}
.user-avatar_tier1_07 {
  background-image: url("/static/images/avatars/avatar_tier1_07.png") !important;
}
.user-avatar_tier1_08 {
  background-image: url("/static/images/avatars/avatar_tier1_08.png") !important;
}
.user-avatar_tier1_09 {
  background-image: url("/static/images/avatars/avatar_tier1_09.png") !important;
}
.user-avatar_tier1_10 {
  background-image: url("/static/images/avatars/avatar_tier1_10.png") !important;
}
.user-avatar_tier1_11 {
  background-image: url("/static/images/avatars/avatar_tier1_11.png") !important;
}
.user-avatar_tier1_12 {
  background-image: url("/static/images/avatars/avatar_tier1_12.png") !important;
}
.user-avatar_tier1_13 {
  background-image: url("/static/images/avatars/avatar_tier1_13.png") !important;
}
.user-avatar_tier1_14 {
  background-image: url("/static/images/avatars/avatar_tier1_14.png") !important;
}
.user-avatar_tier1_15 {
  background-image: url("/static/images/avatars/avatar_tier1_15.png") !important;
}
.user-avatar_tier1_16 {
  background-image: url("/static/images/avatars/avatar_tier1_16.png") !important;
}
.user-avatar_tier1_17 {
  background-image: url("/static/images/avatars/avatar_tier1_17.png") !important;
}
.user-avatar_tier1_18 {
  background-image: url("/static/images/avatars/avatar_tier1_18.png") !important;
}
.user-avatar_tier1_19 {
  background-image: url("/static/images/avatars/avatar_tier1_19.png") !important;
}
.user-avatar_tier1_20 {
  background-image: url("/static/images/avatars/avatar_tier1_20.png") !important;
}

.user-avatar_tier2_01 {
  background-image: url("/static/images/avatars/avatar_tier2_01.png") !important;
}
.user-avatar_tier2_02 {
  background-image: url("/static/images/avatars/avatar_tier2_02.png") !important;
}
.user-avatar_tier2_03 {
  background-image: url("/static/images/avatars/avatar_tier2_03.png") !important;
}
.user-avatar_tier2_04 {
  background-image: url("/static/images/avatars/avatar_tier2_04.png") !important;
}
.user-avatar_tier2_05 {
  background-image: url("/static/images/avatars/avatar_tier2_05.png") !important;
}
.user-avatar_tier2_06 {
  background-image: url("/static/images/avatars/avatar_tier2_06.png") !important;
}
.user-avatar_tier2_07 {
  background-image: url("/static/images/avatars/avatar_tier2_07.png") !important;
}
.user-avatar_tier2_08 {
  background-image: url("/static/images/avatars/avatar_tier2_08.png") !important;
}
.user-avatar_tier2_09 {
  background-image: url("/static/images/avatars/avatar_tier2_09.png") !important;
}
.user-avatar_tier2_10 {
  background-image: url("/static/images/avatars/avatar_tier2_10.png") !important;
}
.user-avatar_tier2_11 {
  background-image: url("/static/images/avatars/avatar_tier2_11.png") !important;
}
.user-avatar_tier2_12 {
  background-image: url("/static/images/avatars/avatar_tier2_12.png") !important;
}
.user-avatar_tier2_13 {
  background-image: url("/static/images/avatars/avatar_tier2_13.png") !important;
}
.user-avatar_tier2_14 {
  background-image: url("/static/images/avatars/avatar_tier2_14.png") !important;
}
.user-avatar_tier2_15 {
  background-image: url("/static/images/avatars/avatar_tier2_15.png") !important;
}
.user-avatar_tier2_16 {
  background-image: url("/static/images/avatars/avatar_tier2_16.png") !important;
}
.user-avatar_tier2_17 {
  background-image: url("/static/images/avatars/avatar_tier2_17.png") !important;
}
.user-avatar_tier2_18 {
  background-image: url("/static/images/avatars/avatar_tier2_18.png") !important;
}
.user-avatar_tier2_19 {
  background-image: url("/static/images/avatars/avatar_tier2_19.png") !important;
}
.user-avatar_tier2_20 {
  background-image: url("/static/images/avatars/avatar_tier2_20.png") !important;
}
.user-avatar_tier2_21 {
  background-image: url("/static/images/avatars/avatar_tier2_21.png") !important;
}
.user-avatar_tier2_22 {
  background-image: url("/static/images/avatars/avatar_tier2_22.png") !important;
}
.user-avatar_tier2_23 {
  background-image: url("/static/images/avatars/avatar_tier2_23.png") !important;
}
.user-avatar_tier2_24 {
  background-image: url("/static/images/avatars/avatar_tier2_24.png") !important;
}
.user-avatar_tier2_25 {
  background-image: url("/static/images/avatars/avatar_tier2_25.png") !important;
}
.user-avatar_tier2_26 {
  background-image: url("/static/images/avatars/avatar_tier2_26.png") !important;
}

.user-avatar_tier3_01 {
  background-image: url("/static/images/avatars/avatar_tier3_01.png") !important;
}
.user-avatar_tier3_02 {
  background-image: url("/static/images/avatars/avatar_tier3_02.png") !important;
}
.user-avatar_tier3_03 {
  background-image: url("/static/images/avatars/avatar_tier3_03.png") !important;
}
.user-avatar_tier3_04 {
  background-image: url("/static/images/avatars/avatar_tier3_04.png") !important;
}
.user-avatar_tier3_05 {
  background-image: url("/static/images/avatars/avatar_tier3_05.png") !important;
}
.user-avatar_tier3_06 {
  background-image: url("/static/images/avatars/avatar_tier3_06.png") !important;
}
.user-avatar_tier3_07 {
  background-image: url("/static/images/avatars/avatar_tier3_07.png") !important;
}
.user-avatar_tier3_08 {
  background-image: url("/static/images/avatars/avatar_tier3_08.png") !important;
}
.user-avatar_tier3_09 {
  background-image: url("/static/images/avatars/avatar_tier3_09.png") !important;
}
.user-avatar_tier3_10 {
  background-image: url("/static/images/avatars/avatar_tier3_10.png") !important;
}
.user-avatar_tier3_11 {
  background-image: url("/static/images/avatars/avatar_tier3_11.png") !important;
}
.user-avatar_tier3_12 {
  background-image: url("/static/images/avatars/avatar_tier3_12.png") !important;
}
.user-avatar_tier3_13 {
  background-image: url("/static/images/avatars/avatar_tier3_13.png") !important;
}
.user-avatar_tier3_14 {
  background-image: url("/static/images/avatars/avatar_tier3_14.png") !important;
}
.user-avatar_tier3_15 {
  background-image: url("/static/images/avatars/avatar_tier3_15.png") !important;
}
.user-avatar_tier3_16 {
  background-image: url("/static/images/avatars/avatar_tier3_16.png") !important;
}
.user-avatar_tier3_17 {
  background-image: url("/static/images/avatars/avatar_tier3_17.png") !important;
}
.user-avatar_tier3_18 {
  background-image: url("/static/images/avatars/avatar_tier3_18.png") !important;
}
.user-avatar_tier3_19 {
  background-image: url("/static/images/avatars/avatar_tier3_19.png") !important;
}
.user-avatar_tier3_20 {
  background-image: url("/static/images/avatars/avatar_tier3_20.png") !important;
}
.user-avatar_tier3_21 {
  background-image: url("/static/images/avatars/avatar_tier3_21.png") !important;
}
.user-avatar_tier3_22 {
  background-image: url("/static/images/avatars/avatar_tier3_22.png") !important;
}
.user-avatar_tier3_23 {
  background-image: url("/static/images/avatars/avatar_tier3_23.png") !important;
}
.user-avatar_tier3_24 {
  background-image: url("/static/images/avatars/avatar_tier3_24.png") !important;
}
.user-avatar_tier3_25 {
  background-image: url("/static/images/avatars/avatar_tier3_25.png") !important;
}
.user-avatar_tier3_26 {
  background-image: url("/static/images/avatars/avatar_tier3_26.png") !important;
}
.user-avatar_tier3_27 {
  background-image: url("/static/images/avatars/avatar_tier3_27.png") !important;
}
.user-avatar_tier3_28 {
  background-image: url("/static/images/avatars/avatar_tier3_28.png") !important;
}
.user-avatar_tier3_29 {
  background-image: url("/static/images/avatars/avatar_tier3_29.png") !important;
}
.user-avatar_tier3_30 {
  background-image: url("/static/images/avatars/avatar_tier3_30.png") !important;
}

.user-avatarX1 {
  background-image: url("/static/images/avatars/avatarX1.png") !important;
}
.user-avatarX2 {
  background-image: url("/static/images/avatars/avatarX2.png") !important;
}
.user-avatarX3 {
  background-image: url("/static/images/avatars/avatarX3.png") !important;
}
.user-avatarX4 {
  background-image: url("/static/images/avatars/avatarX4.png") !important;
}
.user-avatarX5 {
  background-image: url("/static/images/avatars/avatarX5.png") !important;
}
.user-avatarX6 {
  background-image: url("/static/images/avatars/avatarX6.png") !important;
}
.user-avatarX7 {
  background-image: url("/static/images/avatars/avatarX7.png") !important;
}
.user-avatarX8 {
  background-image: url("/static/images/avatars/avatarX8.png") !important;
}
.user-avatarX9 {
  background-image: url("/static/images/avatars/avatarX9.png") !important;
}
.user-avatarX10 {
  background-image: url("/static/images/avatars/avatarX10.png") !important;
}
.user-avatarX11 {
  background-image: url("/static/images/avatars/avatarX11.png") !important;
}
.user-avatarX12 {
  background-image: url("/static/images/avatars/avatarX12.png") !important;
}
.user-avatarX13 {
  background-image: url("/static/images/avatars/avatarX13.png") !important;
}
.user-avatarX14 {
  background-image: url("/static/images/avatars/avatarX14.png") !important;
}
.user-avatarX15 {
  background-image: url("/static/images/avatars/avatarX15.png") !important;
}
.user-avatarX16 {
  background-image: url("/static/images/avatars/avatarX16.png") !important;
}
.user-avatarX17 {
  background-image: url("/static/images/avatars/avatarX17.png") !important;
}
.user-avatarX18 {
  background-image: url("/static/images/avatars/avatarX18.png") !important;
}
.user-avatarX19 {
  background-image: url("/static/images/avatars/avatarX19.png") !important;
}
.user-avatarX20 {
  background-image: url("/static/images/avatars/avatarX20.png") !important;
}
.user-avatarX21 {
  background-image: url("/static/images/avatars/avatarX21.png") !important;
}
.user-avatarX22 {
  background-image: url("/static/images/avatars/avatarX22.png") !important;
}
.user-avatarX23 {
  background-image: url("/static/images/avatars/avatarX23.png") !important;
}
.user-avatarX24 {
  background-image: url("/static/images/avatars/avatarX24.png") !important;
}
.user-avatarX25 {
  background-image: url("/static/images/avatars/avatarX25.png") !important;
}
.user-avatarX26 {
  background-image: url("/static/images/avatars/avatarX26.png") !important;
}
.user-avatarX27 {
  background-image: url("/static/images/avatars/avatarX27.png") !important;
}
.user-avatarX28 {
  background-image: url("/static/images/avatars/avatarX28.png") !important;
}
.user-avatarX29 {
  background-image: url("/static/images/avatars/avatarX29.png") !important;
}
.user-avatarX30 {
  background-image: url("/static/images/avatars/avatarX30.png") !important;
}
.user-avatarX31 {
  background-image: url("/static/images/avatars/avatarX31.png") !important;
}
.user-avatarX32 {
  background-image: url("/static/images/avatars/avatarX32.png") !important;
}
.user-avatarX33 {
  background-image: url("/static/images/avatars/avatarX33.png") !important;
}
.user-avatarX34 {
  background-image: url("/static/images/avatars/avatarX34.png") !important;
}
.user-avatarX35 {
  background-image: url("/static/images/avatars/avatarX35.png") !important;
}
.user-avatarX36 {
  background-image: url("/static/images/avatars/avatarX36.png") !important;
}
.user-avatarX37 {
  background-image: url("/static/images/avatars/avatarX37.png") !important;
}
.user-avatarX38 {
  background-image: url("/static/images/avatars/avatarX38.png") !important;
}
.user-avatarX39 {
  background-image: url("/static/images/avatars/avatarX39.png") !important;
}
.user-avatarX40 {
  background-image: url("/static/images/avatars/avatarX40.png") !important;
}
.user-avatarX41 {
  background-image: url("/static/images/avatars/avatarX41.png") !important;
}
.user-avatarX42 {
  background-image: url("/static/images/avatars/avatarX42.png") !important;
}
.user-avatarX43 {
  background-image: url("/static/images/avatars/avatarX43.png") !important;
}
.user-avatarX44 {
  background-image: url("/static/images/avatars/avatarX44.png") !important;
}
.user-avatarX45 {
  background-image: url("/static/images/avatars/avatarX45.png") !important;
}

.user-avatarY1 {
  background-image: url("/static/images/avatars/avatarY1.png") !important;
}
.user-avatarY2 {
  background-image: url("/static/images/avatars/avatarY2.png") !important;
}
.user-avatarY3 {
  background-image: url("/static/images/avatars/avatarY3.png") !important;
}
.user-avatarY4 {
  background-image: url("/static/images/avatars/avatarY4.png") !important;
}
.user-avatarY5 {
  background-image: url("/static/images/avatars/avatarY5.png") !important;
}
.user-avatarY6 {
  background-image: url("/static/images/avatars/avatarY6.png") !important;
}
.user-avatarY7 {
  background-image: url("/static/images/avatars/avatarY7.png") !important;
}
.user-avatarY8 {
  background-image: url("/static/images/avatars/avatarY8.png") !important;
}
.user-avatarY9 {
  background-image: url("/static/images/avatars/avatarY9.png") !important;
}
.user-avatarY10 {
  background-image: url("/static/images/avatars/avatarY10.png") !important;
}
.user-avatarY11 {
  background-image: url("/static/images/avatars/avatarY11.png") !important;
}
.user-avatarY12 {
  background-image: url("/static/images/avatars/avatarY12.png") !important;
}
.user-avatarY13 {
  background-image: url("/static/images/avatars/avatarY13.png") !important;
}
.user-avatarY14 {
  background-image: url("/static/images/avatars/avatarY14.png") !important;
}
.user-avatarY15 {
  background-image: url("/static/images/avatars/avatarY15.png") !important;
}
.user-avatarY16 {
  background-image: url("/static/images/avatars/avatarY16.png") !important;
}
.user-avatarY17 {
  background-image: url("/static/images/avatars/avatarY17.png") !important;
}
.user-avatarY18 {
  background-image: url("/static/images/avatars/avatarY18.png") !important;
}
.user-avatarY19 {
  background-image: url("/static/images/avatars/avatarY19.png") !important;
}
.user-avatarY20 {
  background-image: url("/static/images/avatars/avatarY20.png") !important;
}
.user-avatarY21 {
  background-image: url("/static/images/avatars/avatarY21.png") !important;
}
.user-avatarY22 {
  background-image: url("/static/images/avatars/avatarY22.png") !important;
}
.user-avatarY23 {
  background-image: url("/static/images/avatars/avatarY23.png") !important;
}
.user-avatarY24 {
  background-image: url("/static/images/avatars/avatarY24.png") !important;
}
.user-avatarY25 {
  background-image: url("/static/images/avatars/avatarY25.png") !important;
}
.user-avatarY26 {
  background-image: url("/static/images/avatars/avatarY26.png") !important;
}
.user-avatarY27 {
  background-image: url("/static/images/avatars/avatarY27.png") !important;
}
.user-avatarY28 {
  background-image: url("/static/images/avatars/avatarY28.png") !important;
}
.user-avatarY29 {
  background-image: url("/static/images/avatars/avatarY29.png") !important;
}
.user-avatarY30 {
  background-image: url("/static/images/avatars/avatarY30.png") !important;
}
.user-avatarY31 {
  background-image: url("/static/images/avatars/avatarY31.png") !important;
}
.user-avatarY32 {
  background-image: url("/static/images/avatars/avatarY32.png") !important;
}
.user-avatarY33 {
  background-image: url("/static/images/avatars/avatarY33.png") !important;
}
.user-avatarY34 {
  background-image: url("/static/images/avatars/avatarY34.png") !important;
}
.user-avatarY35 {
  background-image: url("/static/images/avatars/avatarY35.png") !important;
}
.user-avatarY36 {
  background-image: url("/static/images/avatars/avatarY36.png") !important;
}
.user-avatarY37 {
  background-image: url("/static/images/avatars/avatarY37.png") !important;
}
.user-avatarY38 {
  background-image: url("/static/images/avatars/avatarY38.png") !important;
}
.user-avatarY39 {
  background-image: url("/static/images/avatars/avatarY39.png") !important;
}
.user-avatarY40 {
  background-image: url("/static/images/avatars/avatarY40.png") !important;
}
.user-avatarY41 {
  background-image: url("/static/images/avatars/avatarY41.png") !important;
}
.user-avatarY42 {
  background-image: url("/static/images/avatars/avatarY42.png") !important;
}
.user-avatarY43 {
  background-image: url("/static/images/avatars/avatarY43.png") !important;
}
.user-avatarY44 {
  background-image: url("/static/images/avatars/avatarY44.png") !important;
}
.user-avatarY45 {
  background-image: url("/static/images/avatars/avatarY45.png") !important;
}
.user-avatarY46 {
  background-image: url("/static/images/avatars/avatarY46.png") !important;
}
.user-avatarY47 {
  background-image: url("/static/images/avatars/avatarY47.png") !important;
}
.user-avatarY48 {
  background-image: url("/static/images/avatars/avatarY48.png") !important;
}
.user-avatarY49 {
  background-image: url("/static/images/avatars/avatarY49.png") !important;
}
.user-avatarY50 {
  background-image: url("/static/images/avatars/avatarY50.png") !important;
}
.user-avatarY51 {
  background-image: url("/static/images/avatars/avatarY51.png") !important;
}
.user-avatarY52 {
  background-image: url("/static/images/avatars/avatarY52.png") !important;
}
