.user-avatar_tier1_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_01.png") !important;
}
.user-avatar_tier1_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_02.png") !important;
}
.user-avatar_tier1_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_03.png") !important;
}
.user-avatar_tier1_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_04.png") !important;
}
.user-avatar_tier1_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_05.png") !important;
}
.user-avatar_tier1_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_06.png") !important;
}
.user-avatar_tier1_07 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_07.png") !important;
}
.user-avatar_tier1_08 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_08.png") !important;
}
.user-avatar_tier1_09 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_09.png") !important;
}
.user-avatar_tier1_10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_10.png") !important;
}
.user-avatar_tier1_11 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_11.png") !important;
}
.user-avatar_tier1_12 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_12.png") !important;
}
.user-avatar_tier1_13 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_13.png") !important;
}
.user-avatar_tier1_14 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_14.png") !important;
}
.user-avatar_tier1_15 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_15.png") !important;
}
.user-avatar_tier1_16 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_16.png") !important;
}
.user-avatar_tier1_17 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_17.png") !important;
}
.user-avatar_tier1_18 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_18.png") !important;
}
.user-avatar_tier1_19 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_19.png") !important;
}
.user-avatar_tier1_20 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier1_20.png") !important;
}

.user-avatar_tier2_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_01.png") !important;
}
.user-avatar_tier2_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_02.png") !important;
}
.user-avatar_tier2_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_03.png") !important;
}
.user-avatar_tier2_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_04.png") !important;
}
.user-avatar_tier2_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_05.png") !important;
}
.user-avatar_tier2_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_06.png") !important;
}
.user-avatar_tier2_07 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_07.png") !important;
}
.user-avatar_tier2_08 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_08.png") !important;
}
.user-avatar_tier2_09 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_09.png") !important;
}
.user-avatar_tier2_10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_10.png") !important;
}
.user-avatar_tier2_11 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_11.png") !important;
}
.user-avatar_tier2_12 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_12.png") !important;
}
.user-avatar_tier2_13 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_13.png") !important;
}
.user-avatar_tier2_14 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_14.png") !important;
}
.user-avatar_tier2_15 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_15.png") !important;
}
.user-avatar_tier2_16 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_16.png") !important;
}
.user-avatar_tier2_17 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_17.png") !important;
}
.user-avatar_tier2_18 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_18.png") !important;
}
.user-avatar_tier2_19 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_19.png") !important;
}
.user-avatar_tier2_20 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_20.png") !important;
}
.user-avatar_tier2_21 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_21.png") !important;
}
.user-avatar_tier2_22 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_22.png") !important;
}
.user-avatar_tier2_23 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_23.png") !important;
}
.user-avatar_tier2_24 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_24.png") !important;
}
.user-avatar_tier2_25 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_25.png") !important;
}
.user-avatar_tier2_26 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier2_26.png") !important;
}

.user-avatar_tier3_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_01.png") !important;
}
.user-avatar_tier3_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_02.png") !important;
}
.user-avatar_tier3_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_03.png") !important;
}
.user-avatar_tier3_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_04.png") !important;
}
.user-avatar_tier3_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_05.png") !important;
}
.user-avatar_tier3_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_06.png") !important;
}
.user-avatar_tier3_07 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_07.png") !important;
}
.user-avatar_tier3_08 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_08.png") !important;
}
.user-avatar_tier3_09 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_09.png") !important;
}
.user-avatar_tier3_10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_10.png") !important;
}
.user-avatar_tier3_11 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_11.png") !important;
}
.user-avatar_tier3_12 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_12.png") !important;
}
.user-avatar_tier3_13 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_13.png") !important;
}
.user-avatar_tier3_14 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_14.png") !important;
}
.user-avatar_tier3_15 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_15.png") !important;
}
.user-avatar_tier3_16 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_16.png") !important;
}
.user-avatar_tier3_17 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_17.png") !important;
}
.user-avatar_tier3_18 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_18.png") !important;
}
.user-avatar_tier3_19 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_19.png") !important;
}
.user-avatar_tier3_20 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_20.png") !important;
}
.user-avatar_tier3_21 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_21.png") !important;
}
.user-avatar_tier3_22 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_22.png") !important;
}
.user-avatar_tier3_23 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_23.png") !important;
}
.user-avatar_tier3_24 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_24.png") !important;
}
.user-avatar_tier3_25 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_25.png") !important;
}
.user-avatar_tier3_26 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_26.png") !important;
}
.user-avatar_tier3_27 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_27.png") !important;
}
.user-avatar_tier3_28 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_28.png") !important;
}
.user-avatar_tier3_29 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_29.png") !important;
}
.user-avatar_tier3_30 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier3_30.png") !important;
}

.user-avatarX1 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX1.png") !important;
}
.user-avatarX2 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX2.png") !important;
}
.user-avatarX3 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX3.png") !important;
}
.user-avatarX4 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX4.png") !important;
}
.user-avatarX5 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX5.png") !important;
}
.user-avatarX6 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX6.png") !important;
}
.user-avatarX7 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX7.png") !important;
}
.user-avatarX8 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX8.png") !important;
}
.user-avatarX9 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX9.png") !important;
}
.user-avatarX10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX10.png") !important;
}
.user-avatarX11 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX11.png") !important;
}
.user-avatarX12 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX12.png") !important;
}
.user-avatarX13 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX13.png") !important;
}
.user-avatarX14 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX14.png") !important;
}
.user-avatarX15 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX15.png") !important;
}
.user-avatarX16 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX16.png") !important;
}
.user-avatarX17 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX17.png") !important;
}
.user-avatarX18 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX18.png") !important;
}
.user-avatarX19 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX19.png") !important;
}
.user-avatarX20 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX20.png") !important;
}
.user-avatarX21 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX21.png") !important;
}
.user-avatarX22 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX22.png") !important;
}
.user-avatarX23 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX23.png") !important;
}
.user-avatarX24 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX24.png") !important;
}
.user-avatarX25 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX25.png") !important;
}
.user-avatarX26 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX26.png") !important;
}
.user-avatarX27 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX27.png") !important;
}
.user-avatarX28 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX28.png") !important;
}
.user-avatarX29 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX29.png") !important;
}
.user-avatarX30 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX30.png") !important;
}
.user-avatarX31 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX31.png") !important;
}
.user-avatarX32 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX32.png") !important;
}
.user-avatarX33 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX33.png") !important;
}
.user-avatarX34 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX34.png") !important;
}
.user-avatarX35 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX35.png") !important;
}
.user-avatarX36 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX36.png") !important;
}
.user-avatarX37 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX37.png") !important;
}
.user-avatarX38 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX38.png") !important;
}
.user-avatarX39 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX39.png") !important;
}
.user-avatarX40 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX40.png") !important;
}
.user-avatarX41 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX41.png") !important;
}
.user-avatarX42 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX42.png") !important;
}
.user-avatarX43 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX43.png") !important;
}
.user-avatarX44 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX44.png") !important;
}
.user-avatarX45 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarX45.png") !important;
}

.user-avatarY1 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY1.png") !important;
}
.user-avatarY2 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY2.png") !important;
}
.user-avatarY3 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY3.png") !important;
}
.user-avatarY4 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY4.png") !important;
}
.user-avatarY5 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY5.png") !important;
}
.user-avatarY6 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY6.png") !important;
}
.user-avatarY7 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY7.png") !important;
}
.user-avatarY8 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY8.png") !important;
}
.user-avatarY9 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY9.png") !important;
}
.user-avatarY10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY10.png") !important;
}
.user-avatarY11 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY11.png") !important;
}
.user-avatarY12 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY12.png") !important;
}
.user-avatarY13 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY13.png") !important;
}
.user-avatarY14 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY14.png") !important;
}
.user-avatarY15 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY15.png") !important;
}
.user-avatarY16 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY16.png") !important;
}
.user-avatarY17 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY17.png") !important;
}
.user-avatarY18 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY18.png") !important;
}
.user-avatarY19 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY19.png") !important;
}
.user-avatarY20 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY20.png") !important;
}
.user-avatarY21 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY21.png") !important;
}
.user-avatarY22 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY22.png") !important;
}
.user-avatarY23 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY23.png") !important;
}
.user-avatarY24 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY24.png") !important;
}
.user-avatarY25 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY25.png") !important;
}
.user-avatarY26 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY26.png") !important;
}
.user-avatarY27 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY27.png") !important;
}
.user-avatarY28 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY28.png") !important;
}
.user-avatarY29 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY29.png") !important;
}
.user-avatarY30 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY30.png") !important;
}
.user-avatarY31 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY31.png") !important;
}
.user-avatarY32 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY32.png") !important;
}
.user-avatarY33 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY33.png") !important;
}
.user-avatarY34 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY34.png") !important;
}
.user-avatarY35 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY35.png") !important;
}
.user-avatarY36 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY36.png") !important;
}
.user-avatarY37 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY37.png") !important;
}
.user-avatarY38 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY38.png") !important;
}
.user-avatarY39 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY39.png") !important;
}
.user-avatarY40 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY40.png") !important;
}
.user-avatarY41 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY41.png") !important;
}
.user-avatarY42 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY42.png") !important;
}
.user-avatarY43 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY43.png") !important;
}
.user-avatarY44 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY44.png") !important;
}
.user-avatarY45 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY45.png") !important;
}
.user-avatarY46 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY46.png") !important;
}
.user-avatarY47 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY47.png") !important;
}
.user-avatarY48 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY48.png") !important;
}
.user-avatarY49 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY49.png") !important;
}
.user-avatarY50 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY50.png") !important;
}
.user-avatarY51 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY51.png") !important;
}
.user-avatarY52 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatarY52.png") !important;
}
.user-avatar_event0_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_01.webp") !important;
}
.user-avatar_event0_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_02.webp") !important;
}
.user-avatar_event0_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_03.webp") !important;
}
.user-avatar_event0_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_04.webp") !important;
}
.user-avatar_event0_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_05.webp") !important;
}
.user-avatar_event0_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_06.webp") !important;
}
.user-avatar_event0_07 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_07.webp") !important;
}
.user-avatar_event0_08 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_08.webp") !important;
}
.user-avatar_event0_09 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_09.webp") !important;
}
.user-avatar_event0_10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_10.webp") !important;
}
.user-avatar_event0_11 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_11.webp") !important;
}
.user-avatar_event0_12 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_12.webp") !important;
}
.user-avatar_event0_13 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_13.webp") !important;
}
.user-avatar_event0_14 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_14.webp") !important;
}
.user-avatar_event0_15 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_15.webp") !important;
}
.user-avatar_event0_16 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_16.webp") !important;
}
.user-avatar_event0_17 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_17.webp") !important;
}
.user-avatar_event0_18 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_18.webp") !important;
}
.user-avatar_event0_19 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_19.webp") !important;
}
.user-avatar_event0_20 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_20.webp") !important;
}
.user-avatar_event0_21 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_21.webp") !important;
}
.user-avatar_event0_22 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_22.webp") !important;
}
.user-avatar_event0_23 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_23.webp") !important;
}
.user-avatar_event0_24 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_24.webp") !important;
}
.user-avatar_event0_25 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_25.webp") !important;
}
.user-avatar_event0_26 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_26.webp") !important;
}
.user-avatar_event0_27 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_27.webp") !important;
}
.user-avatar_event0_28 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_28.webp") !important;
}
.user-avatar_event0_29 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_29.webp") !important;
}
.user-avatar_event0_30 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_30.webp") !important;
}
.user-avatar_event0_31 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_31.webp") !important;
}
.user-avatar_event0_32 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_32.webp") !important;
}
.user-avatar_event0_33 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_33.webp") !important;
}
.user-avatar_event0_34 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_34.webp") !important;
}
.user-avatar_event0_35 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_35.webp") !important;
}
.user-avatar_event0_36 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_36.webp") !important;
}
.user-avatar_event0_37 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_37.webp") !important;
}
.user-avatar_event0_38 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_38.webp") !important;
}
.user-avatar_event0_39 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_39.webp") !important;
}
.user-avatar_event0_40 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_40.webp") !important;
}
.user-avatar_event0_41 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_41.webp") !important;
}
.user-avatar_event0_42 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_42.webp") !important;
}
.user-avatar_event0_43 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_event0_43.webp") !important;
}
.user-avatar_mexico_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_mexico_01.webp") !important;
}
.user-avatar_mexico_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_mexico_02.webp") !important;
}
.user-avatar_mexico_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_mexico_03.webp") !important;
}
.user-avatar_mexico_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_mexico_04.webp") !important;
}
.user-avatar_mexico_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_mexico_05.webp") !important;
}
.user-avatar_mexico_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_mexico_06.webp") !important;
}
.user-avatar_persistent1_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_01.webp") !important;
}
.user-avatar_persistent1_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_02.webp") !important;
}
.user-avatar_persistent1_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_03.webp") !important;
}
.user-avatar_persistent1_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_04.webp") !important;
}
.user-avatar_persistent1_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_05.webp") !important;
}
.user-avatar_persistent1_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_06.webp") !important;
}
.user-avatar_persistent1_07 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_07.webp") !important;
}
.user-avatar_persistent1_08 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_08.webp") !important;
}
.user-avatar_persistent1_09 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_09.webp") !important;
}
.user-avatar_persistent1_10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_10.webp") !important;
}
.user-avatar_persistent1_11 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_11.webp") !important;
}
.user-avatar_persistent1_12 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_12.webp") !important;
}
.user-avatar_persistent1_13 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_13.webp") !important;
}
.user-avatar_persistent1_14 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_14.webp") !important;
}
.user-avatar_persistent1_15 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_15.webp") !important;
}
.user-avatar_persistent1_16 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_persistent1_16.webp") !important;
}
.user-avatar_tier0_Starter_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_01.webp") !important;
}
.user-avatar_tier0_Starter_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_02.webp") !important;
}
.user-avatar_tier0_Starter_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_03.webp") !important;
}
.user-avatar_tier0_Starter_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_04.webp") !important;
}
.user-avatar_tier0_Starter_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_05.webp") !important;
}
.user-avatar_tier0_Starter_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_06.webp") !important;
}
.user-avatar_tier0_Starter_07 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_07.webp") !important;
}
.user-avatar_tier0_Starter_08 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_08.webp") !important;
}
.user-avatar_tier0_Starter_09 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_09.webp") !important;
}
.user-avatar_tier0_Starter_10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_tier0_Starter_10.webp") !important;
}
.user-avatar_usa_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_01.webp") !important;
}
.user-avatar_usa_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_02.webp") !important;
}
.user-avatar_usa_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_03.webp") !important;
}
.user-avatar_usa_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_04.webp") !important;
}
.user-avatar_usa_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_05.webp") !important;
}
.user-avatar_usa_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_06.webp") !important;
}
.user-avatar_usa_07 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_07.webp") !important;
}
.user-avatar_usa_08 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_08.webp") !important;
}
.user-avatar_usa_09 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_09.webp") !important;
}
.user-avatar_usa_10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_usa_10.webp") !important;
}
.user-avatar_weekly_01 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_01.webp") !important;
}
.user-avatar_weekly_02 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_02.webp") !important;
}
.user-avatar_weekly_03 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_03.webp") !important;
}
.user-avatar_weekly_04 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_04.webp") !important;
}
.user-avatar_weekly_05 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_05.webp") !important;
}
.user-avatar_weekly_06 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_06.webp") !important;
}
.user-avatar_weekly_07 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_07.webp") !important;
}
.user-avatar_weekly_08 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_08.webp") !important;
}
.user-avatar_weekly_09 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_09.webp") !important;
}
.user-avatar_weekly_10 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_10.webp") !important;
}
.user-avatar_weekly_100 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_100.webp") !important;
}
.user-avatar_weekly_101 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_101.webp") !important;
}
.user-avatar_weekly_102 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_102.webp") !important;
}
.user-avatar_weekly_103 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_103.webp") !important;
}
.user-avatar_weekly_104 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_104.webp") !important;
}
.user-avatar_weekly_105 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_105.webp") !important;
}
.user-avatar_weekly_106 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_106.webp") !important;
}
.user-avatar_weekly_107 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_107.webp") !important;
}
.user-avatar_weekly_108 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_108.webp") !important;
}
.user-avatar_weekly_109 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_109.webp") !important;
}
.user-avatar_weekly_11 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_11.webp") !important;
}
.user-avatar_weekly_110 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_110.webp") !important;
}
.user-avatar_weekly_12 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_12.webp") !important;
}
.user-avatar_weekly_13 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_13.webp") !important;
}
.user-avatar_weekly_14 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_14.webp") !important;
}
.user-avatar_weekly_15 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_15.webp") !important;
}
.user-avatar_weekly_16 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_16.webp") !important;
}
.user-avatar_weekly_17 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_17.webp") !important;
}
.user-avatar_weekly_18 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_18.webp") !important;
}
.user-avatar_weekly_19 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_19.webp") !important;
}
.user-avatar_weekly_20 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_20.webp") !important;
}
.user-avatar_weekly_21 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_21.webp") !important;
}
.user-avatar_weekly_22 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_22.webp") !important;
}
.user-avatar_weekly_23 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_23.webp") !important;
}
.user-avatar_weekly_24 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_24.webp") !important;
}
.user-avatar_weekly_25 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_25.webp") !important;
}
.user-avatar_weekly_26 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_26.webp") !important;
}
.user-avatar_weekly_27 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_27.webp") !important;
}
.user-avatar_weekly_28 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_28.webp") !important;
}
.user-avatar_weekly_29 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_29.webp") !important;
}
.user-avatar_weekly_30 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_30.webp") !important;
}
.user-avatar_weekly_31 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_31.webp") !important;
}
.user-avatar_weekly_32 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_32.webp") !important;
}
.user-avatar_weekly_33 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_33.webp") !important;
}
.user-avatar_weekly_34 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_34.webp") !important;
}
.user-avatar_weekly_35 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_35.webp") !important;
}
.user-avatar_weekly_36 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_36.webp") !important;
}
.user-avatar_weekly_37 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_37.webp") !important;
}
.user-avatar_weekly_38 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_38.webp") !important;
}
.user-avatar_weekly_39 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_39.webp") !important;
}
.user-avatar_weekly_40 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_40.webp") !important;
}
.user-avatar_weekly_41 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_41.webp") !important;
}
.user-avatar_weekly_42 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_42.webp") !important;
}
.user-avatar_weekly_43 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_43.webp") !important;
}
.user-avatar_weekly_44 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_44.webp") !important;
}
.user-avatar_weekly_45 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_45.webp") !important;
}
.user-avatar_weekly_46 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_46.webp") !important;
}
.user-avatar_weekly_47 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_47.webp") !important;
}
.user-avatar_weekly_48 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_48.webp") !important;
}
.user-avatar_weekly_49 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_49.webp") !important;
}
.user-avatar_weekly_50 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_50.webp") !important;
}
.user-avatar_weekly_51 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_51.webp") !important;
}
.user-avatar_weekly_52 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_52.webp") !important;
}
.user-avatar_weekly_53 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_53.webp") !important;
}
.user-avatar_weekly_54 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_54.webp") !important;
}
.user-avatar_weekly_55 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_55.webp") !important;
}
.user-avatar_weekly_56 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_56.webp") !important;
}
.user-avatar_weekly_57 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_57.webp") !important;
}
.user-avatar_weekly_58 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_58.webp") !important;
}
.user-avatar_weekly_59 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_59.webp") !important;
}
.user-avatar_weekly_60 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_60.webp") !important;
}
.user-avatar_weekly_61 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_61.webp") !important;
}
.user-avatar_weekly_62 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_62.webp") !important;
}
.user-avatar_weekly_63 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_63.webp") !important;
}
.user-avatar_weekly_64 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_64.webp") !important;
}
.user-avatar_weekly_65 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_65.webp") !important;
}
.user-avatar_weekly_66 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_66.webp") !important;
}
.user-avatar_weekly_67 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_67.webp") !important;
}
.user-avatar_weekly_68 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_68.webp") !important;
}
.user-avatar_weekly_69 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_69.webp") !important;
}
.user-avatar_weekly_70 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_70.webp") !important;
}
.user-avatar_weekly_71 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_71.webp") !important;
}
.user-avatar_weekly_72 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_72.webp") !important;
}
.user-avatar_weekly_73 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_73.webp") !important;
}
.user-avatar_weekly_74 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_74.webp") !important;
}
.user-avatar_weekly_75 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_75.webp") !important;
}
.user-avatar_weekly_76 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_76.webp") !important;
}
.user-avatar_weekly_77 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_77.webp") !important;
}
.user-avatar_weekly_78 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_78.webp") !important;
}
.user-avatar_weekly_79 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_79.webp") !important;
}
.user-avatar_weekly_80 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_80.webp") !important;
}
.user-avatar_weekly_81 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_81.webp") !important;
}
.user-avatar_weekly_82 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_82.webp") !important;
}
.user-avatar_weekly_83 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_83.webp") !important;
}
.user-avatar_weekly_84 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_84.webp") !important;
}
.user-avatar_weekly_85 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_85.webp") !important;
}
.user-avatar_weekly_86 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_86.webp") !important;
}
.user-avatar_weekly_87 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_87.webp") !important;
}
.user-avatar_weekly_88 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_88.webp") !important;
}
.user-avatar_weekly_89 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_89.webp") !important;
}
.user-avatar_weekly_90 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_90.webp") !important;
}
.user-avatar_weekly_91 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_91.webp") !important;
}
.user-avatar_weekly_92 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_92.webp") !important;
}
.user-avatar_weekly_93 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_93.webp") !important;
}
.user-avatar_weekly_94 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_94.webp") !important;
}
.user-avatar_weekly_95 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_95.webp") !important;
}
.user-avatar_weekly_96 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_96.webp") !important;
}
.user-avatar_weekly_97 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_97.webp") !important;
}
.user-avatar_weekly_98 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_98.webp") !important;
}
.user-avatar_weekly_99 {
  background-image: url("https://rusages-image.sirv.com/rusages/images/avatars/avatar_weekly_99.webp") !important;
}
