* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Trajan;
  src: url("https://cdn.jsdelivr.net/gh/VladTheJunior/rusages@0.0.3/fonts/Trajan.ttf");
}

body {
  font-family: Trajan, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: url("https://raw.githubusercontent.com/VladTheJunior/rusages-cdn/main/rusages/images/wheel/bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
}

.blur {
  animation: blur 3s;
}

@keyframes blur {
  from {
    filter: blur(1.5px);
  }

  50% {
    filter: blur(5px);
  }

  to {
    filter: blur(1.5px);
  }
}

.comment-box-button:focus {
  border: none;
  outline: none;
}
.slotwrapper {
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.85);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 1);
  width: 500px;
  height: 333px;
  margin-bottom: 1.5rem;
}

.slotwrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  float: left;
}
.slotwrapper ul li {
  display: flex;
}

.slotwrapper ul li img {
  width: 500px;
  height: 333px;
}

.frame-box {
  background: #734716
    url("https://raw.githubusercontent.com/VladTheJunior/rusages-cdn/main/rusages/images/frame-box-texture.jpg")
    repeat top;
  border: 2px solid rgba(0, 0, 0, 0.85);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 1);
  margin-bottom: 1.5rem;
  padding: 8px;
  position: relative;
  z-index: 1;
  width: 500px;
}

.frame-box-headerbox {
  background: #2d2a23
    url("https://raw.githubusercontent.com/VladTheJunior/rusages-cdn/main/rusages/images/texture-dark.jpg") repeat
    top;
  color: #fefefe;
  border: 1px solid rgba(192, 136, 64, 0.7);
  overflow: hidden;
  padding: 1rem;
  position: relative;
}

.frame-box-header {
  text-align: center;
  margin-bottom: 0;
}

.frame-box-bodybox {
  width: 100%;
  border: 1px solid rgba(192, 136, 64, 0.7);
  overflow: hidden;
  padding: 0rem;
  position: relative;
  background: #f8f5e8
    url("https://raw.githubusercontent.com/VladTheJunior/rusages-cdn/main/rusages/images/texture-light.jpg")
    repeat top;
}

.comment-box-button:hover,
.comment-box-button:focus {
  color: #fefefe;
}

.comment-box-button {
  font-family: Trajan, sans-serif;
  color: #e3d9b7;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 1em;
  text-shadow: 0 2px 5px rgba(34, 27, 22, 0.5);
  height: 3em;
  line-height: 3em;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  max-width: 100%;
  z-index: 1;
  margin-left: 0.5rem;
  background: transparent;
  border: 0;
}

.comment-box-button:hover::before,
.comment-box-button:focus::before {
  background-position: 0 66.6666%;
}

.comment-box-button:hover::after,
.comment-box-button:focus::after {
  background-position: 100% 100%;
}

.comment-box-button::before,
.comment-box-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent
    url("https://raw.githubusercontent.com/VladTheJunior/rusages-cdn/main/rusages/images/button-red-desk.png") 0 0
    no-repeat;
  background-size: auto 400%;
  z-index: -1;
}

.comment-box-button::after {
  background-position: 100% 33.3333%;
  width: calc(100% - 10px);
  right: 0;
  left: auto;
  z-index: -1;
}

.unknownImg {
  width: 500px;
  height: 333px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media (max-width: 576px) {
  .slotwrapper {
    width: 300px;
    height: 200px;
  }

  .slotwrapper ul li img {
    width: 300px;
    height: 200px;
  }

  .frame-box {
    width: 300px;
  }

  .unknownImg {
    width: 300px;
    height: 200px;
  }
}
